body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff5ea;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 60%;
  border-color: #3fc1c9;
}

.navbar {
  overflow: hidden;
  background-color: #555;
  margin-bottom: 50px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /*z-index: 1;*/
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 32px 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: inherit;
  border: none;
  background: inherit;
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.title {
  text-align: center;
}

.kitty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 300px;
}

.modal {
  display: none;
  position: fixed;
  z-index: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /*adding animation*/
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-content {
  background-color: white;
  /*20% margin on top and bottom (to stay away from all other elements),
  and auto for left and right, because we want it to be in the middle
  */
  font-size: 18px;
  margin: 20% auto;
  padding: 40px;
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-content p {
  font-size: 22px;
  text-align: center;
}

.closeBtn {
  float: right;
  font-size: 25px;
  color: #ccc;
}

/*:focus because the closeBtn is taking an input*/
.closeBtn:hover, .closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


/************************************************************/
/* Just Login page*/

.log-in-div {
  font-size: 18px;
  text-align: center;
}

.log-in-div hr {
  border: 1px solid #f1f1f1;
  width: 100%;
  border-color: black;
}


/* "submit-button" class is used in logIn.html AND signUp.html */
.submit-button {
  font-size: 18px;
}

.submit-button:hover {
  background-color: #6f9eaf;
  cursor: pointer;
}


/************************************************************/
/************************************************************/
/* Signup and Login page */
.sign-up-div {
  font-size: 18px;
  text-align: center;
}

.sign-up-div hr {
  border: 1px solid #f1f1f1;
  width: 100%;
  border-color: black;
}



/*
#signUpFirstnameInput, #signUpLastNameInput, #signUpUsernameInput, #signUpPasswordInput {
  padding: 10px;
  background-color: #e7e7de;
  opacity: 0.9;
  margin-bottom: 10px;
  border: none;
}
*/






/*
#signUpUsernameLabel, #signUpPasswordLabel {
  position: relative;
  bottom: 3.5px;
}
*/

#logInUsernameInput, #logInPasswordInput {
  margin: 5px 0 22px 0;
}





/* -----------------------------------*/
/*Signup page's first form part */
/* -----------------------------------*/
/* Full-width input fields */
/* #signUpUsernameInput, #signUpLastNameInput, #passwordInput, #username { */
#signUpFirstnameInput, #signUpLastNameInput, #signUpUsernameInput, #signUpPasswordInput {
  display: inline-block;
  width: 9%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e3dfc8;     /*#e7e7de*/
  opacity: 0.7;

  font-size: 16px;
}


#signUpFirstnameInput:hover, #signUpLastNameInput:hover, #signUpUsernameInput:hover, #signUpPasswordInput:hover {
  opacity: 0.9;
}

#signUpFirstnameInput:focus, #signUpLastNameInput:focus, #signUpUsernameInput:focus, #signUpPasswordInput:focus {
  outline: none;
  opacity: 0.9;
}





.security-questions {
  padding: 15px;
}

.security-select-tag {
  font-size: 16px;
  display: block;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: #e7e7de;
  opacity: 0.9;

  position: relative;
  left: 920px; /*position is relative to <div class="sign-up-div"> OR the <body> */

}




/*
.security-select-tag:hover {
  opacity: 0.5;
}
*/

.security-select-tag {
  background: #e3dfc8;
  opacity: 0.7;
}


.security-select-tag:focus {
  outline: none;
}


#signUpSecurityInput, #signUpEmailInput {
  width: 9%;
  font-size: 16px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #e3dfc8;
  opacity: 0.7;
}

#signUpSecurityInput:hover, #signUpEmailInput:hover {
  opacity: 0.9;
}

#signUpSecurityInput:focus, #signUpEmailInput:focus {
  outline: none;
  opacity: 0.9;
}

/************************************************************/
